<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Sum a List</title>
    <link rel="stylesheet" type="text/css" href="/css/sumstyle.css">
  </head>
  <body>
    <div>
      <table>
        <% for(var i = 0; i < nums.length; i++) { %>
          <tr>
            <td style="color:<%= (nums[i] % 2) ? odd : even %>;"><%= nums[i] %></td>
          </tr>
        <% } %>
        <tr><td><%= sum %></td></tr>
      </table>
    </div>
  </body>
</html>


